* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/heart-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Pixelify Sans", sans-serif;
  overflow: hidden;
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 480px) {
  .window-content h1 {
    font-size: 1rem;
  }

  .gif {
    max-width: 120px;
  }
}